.wQio {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-pane {
  box-shadow: 0 0 10px 0px #adadad;
  width: 40rem;
  height: auto;
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
}

.form-actions {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-actions button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 2.5rem;
  border: none;
  background: #4044bac0;
  color: #fff;
  border-radius: 10px;
  transition: 0.3s;
}
.form-control:focus {
  box-shadow: none;
}
.form-group {
  margin-bottom: 1rem;
}
.control-label {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
.form-group span {
  display: block;
  margin: 0.5rem 0 0;
  color: rgb(223, 50, 107);
}
.input_image_post {
  margin: 0;
}
.OvrcU {
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.ExBt_2 {
  flex: 1 1 50%;
  padding: 0.5rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ExBt_2 input:checked ~ .image_holder::after {
  display: block;
}
.image_holder {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  position: relative;
}
.image_holder::after {
  display: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(154, 154, 252, 0.247);
}
.image_holder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
textarea[class="form-control"] {
  height: 10rem;
  max-height: 20rem;
  resize: none;
}
.upload__box {
  padding: 1rem 0;
}
.upload__btn {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  text-align: center;
  min-width: 116px;
  width: 100%;
  padding: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid;
  background-color: #4045ba;
  border-color: #4045ba;
  border-radius: 10px;
  line-height: 26px;
  font-size: 14px;
  user-select: none;
}
.upload__btn:hover {
  background-color: unset;
  color: #4045ba;
  transition: all 0.3s ease;
}
.upload__btn-box {
  margin-bottom: 10px;
}
.upload__img-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.upload__img-box {
  position: relative;
  height: 120px;
}
.upload__img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upload__img-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}
.upload__img-close:after {
  content: "\2716";
  font-size: 14px;
  color: white;
}
