.blog {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(136, 164, 240);
  border-radius: 8px;
  margin-bottom: 3rem;
}
.blogAuthor {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.blogAuthor a {
  color: #000;
  text-decoration: none;
  margin-left: 1rem;
  margin-bottom: 0;
}
.blogImg {
  width: 100%;
}
.aboutBlog {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutBlog p {
  margin: 0.5rem 0;
  text-align: justify;
}
.blogImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Hbci {
  color: rgb(87, 152, 238);
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0 1rem;
  border: none;
  outline: none;
  background: none;
  padding: 0.2rem 0.5rem;
}
.blogFooter {
  direction: ltr !important;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.blogFooter a {
  margin-right: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  color: rgb(35, 118, 241);
}
