.blog {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(136, 164, 240);
  border-radius: 8px;
  margin-bottom: 3rem;
}
.blogAuthor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.authorImg {
  border: 1px solid rgb(236, 236, 236);
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
  width: 64px;
  height: 64px;
}
.authorImg img {
  font: inherit;
  width: 100%;
  height: 100%;
  object-fit: contain;
  vertical-align: baseline;
}
.phWxoR {
  position: relative;
  height: 100%;
}
.phWxoR label {
  padding: 0 1rem;
}
.XsPzoY {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
.XsPzoY span {
  width: 4px;
  border-radius: 10px;
  height: 4px;
  background: #000;
}
.XsPzoY span:first-child {
  margin-bottom: 5px;
}
.XsPzoY span:last-child {
  margin-top: 5px;
}
.phWxoR input[type="checkbox"]:checked ~ .jWcoI {
  display: block;
}
.jWcoI {
  display: none;
  position: absolute;
  top: 0;
  right: 2rem;
  border: 1px solid blue;
  border-radius: 5px;
  background: #fff;
  padding: 0 0.5rem;
  z-index: 10;
}
.jWcoI ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.jWcoI ul li {
  font-size: 0.8rem;
  margin: 0.3rem 0;
  cursor: pointer;
}
.jWcoI ul li a {
  width: 100%;
  display: block;
}
.blogAuthor a {
  color: #000;
  text-decoration: none;
  margin-bottom: 0;
}
.aboutBlog {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutBlog h4 {
  text-align: justify;
}
.Kbyci p {
  white-space: pre-line;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.read-more__label {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(49, 49, 131);
  cursor: pointer;
  font-weight: 900;
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.read-more__checkbox ~ .read-more__label::before {
  content: attr(data-read-more);
}

.read-more__checkbox:checked ~ .read-more__label::before {
  content: attr(data-read-less);
}
.read-more__checkbox:checked ~ p {
  --line-clamp: none;
  -webkit-line-clamp: var(--line-clamp);
}
.blogImg,
.blogimg {
  position: relative;
  overflow: hidden;
}
.qxolps,
.showSlide {
  width: 100%;
  height: 480px;
}
.slidesPo img,
.qxolps img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mySlides {
  display: none;
}
.showSlide {
  display: block;
}
.hideSlide {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #000;
  background: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.Hbci {
  color: rgb(87, 152, 238);
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0 1rem;
  border: none;
  outline: none;
  background: none;
  padding: 0.2rem 0.5rem;
}
.blogFooter {
  direction: ltr !important;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.blogFooter a {
  margin-right: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  color: rgb(35, 118, 241);
}
.Ucrtl9_p {
  font-size: 12px;
  font-weight: 800;
}
.wZo8s span {
  margin-right: .5rem;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.post_action {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
.Like_post {
  cursor: pointer;
}
.Like_post svg {
  width: 24px;
  height: 24px;
}
.liked {
  fill: red;
}