.post {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(136, 164, 240);
  border-radius: 8px;
  margin-bottom: 3rem;
}
.postAuthor {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.postAuthor a {
  color: #000;
  text-decoration: none;
  margin-left: 1rem;
  margin-bottom: 0;
}
.postImg {
  width: 100%;
}
.aboutPost {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutPost p {
  margin: 0.5rem 0;
  text-align: justify;
}
.postImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Hbci {
  color: rgb(87, 152, 238);
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0 1rem;
  border: none;
  outline: none;
  background: none;
  padding: 0.2rem 0.5rem;
}
.postFooter {
  direction: ltr !important;
  width: 100%;
}
.postFooter a {
  margin-right: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  color: rgb(35, 118, 241);
}
.postComment {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postComment h5 {
  text-align: center;
}
.commentForm {
  text-align: center;
  margin-bottom: 1rem;
}

.comment {
  padding: 1rem;
  border: 1px solid #000;
  margin-bottom: 1rem;
}
.commentForm input {
  outline: none;
  background: #f1f1f1;
  border: none;
  padding: 0.3rem 0.5rem;
  width: 20rem;
}
.commentForm button {
  border: none;
  background: #fff;
  font-size: 1.1rem;
  margin: 0 1rem;
  padding: 0.5rem;
}
.headerC p {
  margin-bottom: 0.5rem;
  color: rgb(134, 134, 134);
}
.bodyC p {
  text-align: justify;
}
